* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* scrollbar-gutter: stable; */
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f7f7f7;
}

h1,
h2,
h3 {
  line-height: 160%;
}

h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.15rem;
}

a,
p {
  font-size: 14px;
  line-height: 130%;
  color: #303030;
}

button {
  height: 2rem;
  border: none;
  background-color: #202020;
  color: white;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

label {
  font-size: 12px;
  font-weight: bold;
}

input,
select {
  margin-top: 0.3rem;
  padding: 0.5rem;

  border-radius: 5px;
  border: 1px solid #ccc;
}
